html
  head
    title SENG371 Project #2 - Sentimental Analysis with GitHub Activities

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour-standalone.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js")
    script(src="javascript/jquery.tipsy.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css", rel="stylesheet")
    link(href="stylesheet/styles.css", rel="stylesheet")
    link(href="stylesheet/loading.css", rel="stylesheet")
    link(href="stylesheet/tipsy.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js")
    script(src="javascript/tour.js")
    script(src="javascript/visual.js") 
    nav.navbar
      div.project-name
        h3.nav-text.bold Project #2
      div.navbar-right.bold
        ul.nav
          li#github-page
            a(href='https://github.com/guand/seng371-project2') GitHub
          li
             a.take-tour Take a tour 
              span.glyphicon.glyphicon-question-sign

    body
      div.jumbotron.center
        h1.bold SENG 371 - Project #2
        hr
        h2 Jian Guan, Jonathan Lam, Paul Moon

      div.row.center
        div.col-md-4.col-md-offset-3
          form.form-inline(name="repoForm", id="repoForm", action="repo", method="get")
            div.form-group
              input.bold.form-control(type="text", name="repoName", id="repoName", placeholder="Enter a repo name e.g. Bootstrap", size="30")
              button#search-button.bold.btn.btn-primary.search-btn(type="submit") Search
        div.col-md-2 
          select.form-control(id="githubOptions")
            option(value="issues", selected) GitHub Issues
            option(value="pullRequests") GitHub Pull Requests

      div.row.center
        div.main-chart.col-md-6.col-md-offset-3
        div.loading.col-md-6.col-md-offset-3
          div.jar
            div.mouth
            div.neck
            div.base
              div.liquid 
              div.wave
              div.wave
              div.bubble
              div.bubble
            div.bubble
            div.bubble
              
          p loading.....
        
           
      
        
